<h1>Login</h1>
<form action="<%= url("/login") %>" method="POST">
  <label>User: <input type="text" name="user" /></label>
  <label>Password: <input type="password" name="password" /></label>
  <input type="submit" value="Submit" />
</form>
